.explore {
    background-color: $color-bg-main;
    @include flex-center (column);
    text-align: center;
    padding: 2.5rem;
    & h2 {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
    & p {
        margin-bottom: 1.5rem;
    }
    &__btn {
        @include btn;
        &:hover {
            @include btn(hover);
        }
    }
}