.explore {
    background-color: $color-bg-main;
    @include flex-center (column);
    text-align: center;
    padding: 2.5rem;
    h2 {
        padding: 0 1rem;
        @extend .default-margin-bottom;
    }
    p {
        @extend .default-margin-bottom;
    }
    &__btn {
        @include btn;
        &:hover {
            @include btn(hover);
        }
    }
}