footer {
    background-color: $color-bg-footer;
    padding: 20px;
    color: #fff;
    p {
        @include tablet-and-desktop {
            text-align: center;
            margin: 16px 0;
            font-size: 19px;
        }
    }
    ul {
        padding: 20px 0;
        line-height: 24px;
        @include tablet-and-desktop {
            display: flex;
            justify-content: space-around;
        }
    }
    i {
        padding-right: 13px;
    }
    a {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
      }
}