#menus {
    background-color: $color-bg-main;
}
.menus {
    position: relative;
    top: -35px;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    background-color: $color-bg-main;
    padding: 1.25rem;
    h2, article {
        margin-bottom: 2.5rem;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: .2rem;
    }
    hr {
        background-color: $color-tertiary;
        border: none;
        height: .2rem;
        width: 2.5rem;
        @extend %default-margin-bottom;
    }
    .menus__btn {
        padding: 1rem 3rem;
        display: block;
        margin: 0 auto;
    }
}

.menus__card {
    position: relative;
    @include card-style;
    @extend %default-margin-bottom;
    height: $menu__card-height;
    line-height: 1.5rem;
    overflow: hidden;
    &:hover > &__description {
        width: (75% - 15%);
    } 
    &:hover > &__price, &:hover > &__validation {
        transform: translateX(0);
    }
    &:hover > &__validation i {
        transform: rotate(360deg);
    }
    &__description {
        padding: .5rem 0 .5rem .8rem;
        width: 80%;
        @include transition (width);
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
             }
        &__title {
            font-size: 1.2rem;
        }
    }
    &__price {
        padding: .5rem 2.5rem .5rem 0;
        height: $menu__card-height;
        position: absolute;
        right: 4.5rem;
        top: 0;
        @include card__boxes--slide;
        @include transition;
        p {
            position: absolute;
            bottom: .5rem;
            left: 2rem;
        }
    }
    &__validation {
        @include flex-center;
        position: absolute;
        top: 0;
        right: 0;
        height: $menu__card-height;
        background-color: $color-tertiary;
        border-radius: 0 $border-radius $border-radius 0;
        @include card__boxes--slide;
        @include transition;
      
        i {
            color: #fff;
            font-size: 1.5rem;
            transform: rotate(0deg);
            @include transition;
        }
    }

}