.user-manual {
    padding: 3rem 1.25rem;
        &__step {
            @include flex-center;
        }
        &__number {
            color: #fff;
            background-color: $color-primary;
            border-radius: 2rem;
            padding: .16rem .5rem;
        }
        &__btn {
            @include user-manual__btn;
            &:hover {
                @include user-manual__btn(hover);
            }
        }
}