body {
    box-sizing: border-box;
    margin: 0;
}

// à supprimer début **********************************************************************************

.lorem {
    color: transparent;
}

// à supprimer fin  ***********************************************************************************