body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 900;
    font-size: 1.5rem;
}

strong {
    font-weight: 700;
}

footer p, .menus h2 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 300;
}