@mixin flex-center ($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: map-get($flex-direction, $direction);
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
@mixin tablet-and-desktop {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) {
        @content;
    }
}
@mixin btn ($state: default){
    background: map-get($btn-bg, $state);
    border: none;
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
    border-radius: 3rem;
    box-shadow: map-get($box-shadow, $state);
    padding: 1rem 1.4rem;
    cursor: map-get($cursor, $state);
} 

@mixin user-manual__card ($state: default){
    background-color: map-get($user-manual__card-bg, $state); 
    padding: 1.25rem 1.75rem;
    box-shadow: map-get($box-shadow, $state);
    border-radius: 1rem;
    cursor: map-get($cursor, $state);
    @include tablet-and-desktop {
        max-width: 20rem;
    }
    @include desktop {
        padding: 1.25rem .7rem;
    }
}

@mixin card-style ($state: default) {
    border-radius: $border-radius;
    box-shadow: map-get($box-shadow, $state);
    z-index: 1;
}

@mixin heart ($state: default) {
    z-index: 2;
    font-size: 1.5rem;
    font-weight: map-get($heart-font-weight, $state);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: map-get($heart-color, $state);
        @if ($state == hover) {
            background-clip: text;
            background-image: linear-gradient(45deg, $color-secondary, $color-primary);
        }
        @else {}
}

@mixin transition ($type: transform) {
    transition: map-get($transition-type, $type) $transition-duration $transition-timing-function;
}

@mixin card__boxes--slide {
    width: $slide-box-size;
    transform: translateX($slide-box-size);
}