@mixin flex-center ($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: map-get($flex-direction, $direction);
}

// responsive

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
@mixin tablet-and-desktop {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) {
        @content;
    }
}

// apparence du curseur

@mixin cursor ($state: default) {
    cursor: map-get($cursor, $state);  
}

// style des boutons principaux sur index et pages restaurants

@mixin btn ($state: default) {
    background-image: $btn-bg;
    opacity: map-get($btn-opacity, $state);
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 48px;
    box-shadow: map-get($box-shadow, $state);
    padding: 16px 22px;
    @include cursor($state);
    @include transition (all);
} 

// style des cards section user-manual sur index

@mixin user-manual__card ($state: default){
    background-color: map-get($user-manual__card-bg, $state); 
    padding: 20px 28px;
    box-shadow: map-get($box-shadow, $state);
    border-radius: 16px;
    @include cursor($state);
    @include transition (all);
    @include tablet-and-desktop {
        max-width: 320px;
    }
    @include desktop {
        padding: 20px 12px;
    }
}

//style de base des cards restaurant sur index et des cards menus sur pages des restaurants

@mixin card-style ($state: default) {
    border-radius: $border-radius;
    box-shadow: map-get($box-shadow, $state);
    background-color: #fff;
    z-index: 1;
    @include transition (all);
}

// style et animation des icones heart sur index (cards restaurants) et pages des restaurants (cards menus)

@mixin heart ($state: default) {
    z-index: 10;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    color: transparent;                                  // mise en transparence de la couleur du texte icone heart pour afficher son background
    -webkit-background-clip: text;
            background-clip: text;                       // propriété pour afficher le background du texte icone heart
    -webkit-text-stroke: 1.5px #000;                   // contour noir icone heart
    background-image: $heart-bg-image;                   // dégradé linéaire transparent sur 49% de sa hauteur
    background-size: 100% 300%;                          // agrandissement taille du background 300% sur axe Y pour ne laisser apparaitre que la zone transparente quand non survolé
    @include transition (all);
    @include cursor($state);
        @if ($state == hover) or ($state == active) {
            background-position: 0% -50%;                // descente du background de 50% sur axe Y pour appartion progressive du dégradé par le haut
            -webkit-text-stroke: transparent;
        }
        @else {}
}

// mixin pour propriétés des transitions pour les animations icones heart et slide box price + validation des cards menus sur pages restaurants

@mixin transition ($type: transform) {
    transition: map-get($transition-type, $type) $transition-duration $transition-timing-function;
}

// mixin pour dimensions des slides boxes (classes price et validation) des cards menus sur pages restaurants

@mixin card__boxes--slide {
    width: $slide-box-width;
    transform: translateX($slide-box-width);
}

// mixin pour animation fadein des menus sur pages restaurant

@mixin menus--fadein {
    @for $i from 1 through 14 {
        .menus--fadein-#{$i} {
            -webkit-animation: menus--fadein $menus--fadein-animation-duration $menus--fadein-animation-duration*$i*0.5 $menus--fadein-animation-timing-function backwards;
                    animation: menus--fadein $menus--fadein-animation-duration $menus--fadein-animation-duration*$i*0.5 $menus--fadein-animation-timing-function backwards;
        }
    }
}