$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-main: #f6f6f6;
$color-bg-footer: #353535;
$color-user-manual__i: (default: #7E7E7E, hover: $color-primary);

$cursor: (default: auto, hover: pointer);

$flex-direction: (row: row, column: column);

$breakpoints: (tablet-min: 768px, tablet-max: 991px, desktop: 992px);

$border-radius: 1em;

$box-shadow: (
    default: 0 .2rem .6rem rgba(0, 0, 0, 0.4),
    hover: 0 .2rem 1rem rgba(0, 0, 0, 0.7)
    );

$btn-bg: (
    default: linear-gradient(-5deg, $color-primary, $color-secondary),
    hover: linear-gradient(-5deg, lighten($color-primary, 3%), lighten($color-secondary, 3%))
    );

$user-manual__card-bg: (
    default: $color-bg-main,
    hover: lighten($color-primary, 35%)
    );

$heart-font-weight: (default: 300, hover: 900);
$heart-color: (default: #000, hover: transparent);

$menu__card-height: 4rem;
$slide-box-size: 4.5rem;

$transition-type: (transform: transform, width: width);
$transition-duration: 0.5s;
$transition-timing-function: cubic-bezier(.49,0,.34,1);