// couleurs principales

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// couleurs backgrounds

$color-bg-main: #f6f6f6;        // couleur background gris clair sur divers elements
$btn-bg: linear-gradient(-5deg, $color-primary, $color-secondary);      //couleur de fond des boutons principaux sur index et pages restaurants
$user-manual__card-bg: (
    default: $color-bg-main,
    hover: lighten($color-primary, 35%)
    );
$heart-bg-image: linear-gradient(225deg, transparent 49%, $color-primary 58%, $color-secondary 100%);  // dégradé linéaire transparent sur 49% de sa hauteur pour icones heart
$color-bg-footer: #353535;
    
// autres couleurs

$color-user-manual__i: (default: #7E7E7E, hover: $color-primary);
$box-shadow: (
    default: 0 3px 10px rgba(0, 0, 0, 0.4),
    hover: 0 3px 16px rgba(0, 0, 0, 0.7),
    active: 0 3px 16px rgba(0, 0, 0, 0.7)
    );
    
// divers

$cursor: (default: auto, hover: pointer, active: pointer);
$flex-direction: (row: row, column: column);
$breakpoints: (tablet-min: 768px, tablet-max: 991px, desktop: 992px);
$border-radius: 16px;
$btn-opacity: (default: 1, hover: 0.9, active: 0.9);

// propriété du loader

$loader-duration: 3s;

// dimensions des cards menus, price et validation 

$menu__card-height: 64px;
$slide-box-width: 74px;

// propriétés des transitions

$transition-type: (transform: transform, width: width, all: all);
$transition-duration: 0.5s;
$transition-timing-function: cubic-bezier(.5,0,.35,1);

// propriété animation menus--fadein des menus sur pages restaurants

$menus--fadein-animation-duration: 0.8s;
$menus--fadein-animation-timing-function: cubic-bezier(.5,0,.6,1);