$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-main: #f6f6f6;
$color-bg-footer: #353535;

$box-shadow: (
    normal: 0 .2rem .6rem rgba(0, 0, 0, 0.4),
    hover: 0 .2rem 1rem rgba(0, 0, 0, 0.7)
    );

$btn-bg: (
    normal: linear-gradient(-5deg, $color-primary, $color-secondary),
    hover: linear-gradient(-5deg, lighten($color-primary, 3%), lighten($color-secondary, 3%))
    );